* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    background: #fff7e6;
    color: #1f2937;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
.header h1 {
    font-size: 40px;
    font-weight: 700;
}
.header p {
    max-width: fit-content;
    color: #374151;
}
